/* ---- List ---- */
.food-list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 26px;

    @include mq($desktop) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq($tablet-large) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq($tablet) {
        grid-template-columns: repeat(1, 1fr);
    }
    
    &__item {
        background: #F8F8F8;
        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.01), inset 1px 1px 1px rgba(255, 255, 255, 0.11);
        backdrop-filter: blur(19px);
        border-radius: 19px;
        padding: 10px 10px 24px 10px;
    }

    &__img {
        width: 100%;
        height: 233px;
        border-radius: 19px;
        object-fit: cover;
    }

    &__info {
        margin-top: 20px;
    }

    &__title {
        @include font-size(15px);
        font-weight: 700;
    }

    &__desc {
        @include font-size(12px);
        font-weight: 500;
        margin-top: 7px;
    }
}